
<h1>Fequently Asked Questions:</h1>

<h3>What does the OSP do? Do you "bank" seed for later?</h3>

<p>
  The Orchid Seedbank Project is a conservation organization. Although  we do
  store seed, we do not intend on storing it for purposes of  generating large
  numbers of plants at some future point in time; it  is not a "seed bank" in
  the sense that we are routinely cryogenically  freezing seed, or carrying out
  some other hopelessly long-term  storage regimes. Instead, the OSP serves as a
  clearinghouse for  orchid seed; until the OSP was formed in December of 1996,
  there was  no central clearinghouse by which conservationists, researchers,
  commercial and hobbyist growers could go to specifically for orchid seed.
</p>

<h3>How do you get your seed?</h3>

<p>
  We receive our seed from many donors. Sometimes  we receive only one species
  from a given donor, sometimes we get tens  of species in a single shipment.
</p>

<h3>What does the donor get out of it?</h3>

<p>
  Donors receive credit for their donation; right now, this stands at  4:1,
  meaning that if we can make, say, four outgoing packets from the  incoming
  seed, the donor gets one free packet. These credits may be  redeemed at any
  time, and the OSP pays the shipping. We place no  restrictions, other than
  those we place on those that pay for their  seed, upon the seed that the
  donors request.
</p>

<h3>Doesn't this tend to deplete the stocks of  "good" seed?</h3>

<p>
  No. Although demand sometimes surpasses supply, orchids are  remarkably
  prodigious producers of seed, and our donors tend to be  very generous with
  the seed they send. As a result, there is often  more than enough seed to go
  around. Seed is supplied on a first-come,  first-serve basis: our donors and
  those that purchase seed are placed  on equal footing with respect to orders,
  unless they have  specifically requested seed (such as on the "Wanted" list).
  The only exception is that specific conservation agencies receive  slightly
  higher priority; all the same, it is rather rare that seed  is subject to such
  exceptions.
</p>

<h3>How does the OSP serve conservationists and other groups?</h3>

<p>
  The OSP maintains contacts via e-mail with representatives of several  orchid
  conservation groups, as well as recognized experts in  different fields.
  For example, certain rare stanhopea species are  handed off to our stanhopea
  "pros." Cypripediums get  similar treatment, and so on. As such, although we
  strive to conserve  ALL species of orchids, certain species get preferential
  treatment  such that their numbers may be maintained in cultivation.
</p>

<h3>Do you guarantee viability of your seed?</h3>

<p>
  We cannot guarantee viable seed; we do our best on this end to  maintain
  seed under the best possible conditions, but due to the  large volume of
  seed, we cannot test each batch before it leaves. We  have started to examine
  seed for presence or absence of embryos, but  this is NOT a promise of
  germinability or viability. Seed that looks  fine may be too old to germinate,
  or it may be that the seed is still  germinable, but we have not developed the
  technology to sprout it. We  may be going to 2,3,5-TTC testing to determine
  viability before long,  but this step will take a while.
</p>
<p>
  We strongly encourage recipients to relay information about viability  back
  to the OSP; seed that receives more than one or two  unsatisfactory viability
  results will be re-examined, and pulled from  distribution if deemed necessary.
</p>


<h3>How do you ship seed?</h3>

<p>Please see our information under shipping for further information.</p>

<h3>Do you perform research?</h3>

<p>
  The many members of the loose affiliation of OSP growers, donors and
  recipients include researchers from many fields, each of whom have  much to
  offer. We support and work with taxonomists, horticulturists,  chemists,
  biologists, biochemists, and others in the science realm to  expand our
  knowledge of the orchid seed.
</p>

<h3>Cool! Such as?</h3>

<p>
  Improving longevity of seed in storage, use of disinfectants for in  vitro
  propagation, enhancing communication bewteen researchers, and  otherwise
  assisting the Teeming Millions in their pursuits.
</p>

<h3>What types of storage do you use?</h3>

<p>
  We store most of our orchid seed at 4 degrees C, in refrigeration.
  The seed packets are stored with a small container of calcium  chloride/water
  slurry to provide the correct amount of moisture to  provide optimal storage
  conditions for the seeds. We also have a  small number of seeds that are stored
  in liquid nitrogen to determine  if this method of storage is a viable technique
  for conservation and  preservation of species.
</p>

<h3>How do I grow orchids from seed?</h3>

<p>
  Growing orchids from seed is something that can be done either in a
  commercial lab, or in your own home. Although a very few seeds might
  germinate under the correct conditions in the greenhouse, the vast  majority
  of orchids propagated today are done so under sterile  conditions. We
  recommend (not surprisingly) our book  that we have assembled for growers-
  covering everyone from the novice  to the established expert. It tells you
  how to assemble your home  lab, using readily available equipment such as an
  aquarium for a  flasking box, bleach for disinfection, and where to purchase
  the  appropriate media. Sterilization of the media and flasks (Mason jars
  are recommended) is performed with a pressure cooker. Although  designed to
  accomodate the novice, Asymbiotic Technique of Orchid  Seed Germination covers
  HEPA filters, the role of individual  components in orchid germination and
  culture media, making your own  tools, and a complete directory of where to
  purchase almost  everything listed in the manual. It is up to date, having
  been  published in November, 1999.
</p>

<h3>What does the book cost?</h3>

<p>
  About US$45. This is a professional text, consisting of 145 pages of
  referenced scientific material. Consider what your own time is worth.
  Two years in the making, this book covers every conceivable aspect of
  orchid seed germination, from pollination to de-flasking your seedlings.
</p>

<h3>Are you available for lectures and talks?</h3>

<p>
  Only on special occasions. Due to the nature of our  work, we are generally
  busy and, therefore, only very rarely available to give talks. We are happy
  to provide information as to  our activities in research and conservation,
  and would be happy to  provide articles for your society's newsletter.
  Subjects range from orchid book reviews to esoterica on plant  pathogens.
  Please contact ahicks51(at)REMOVEcox.net for more information.
</p>

<h3>Will there be more later?</h3>

<p>
  Yeah; I just piece this stuff together as I go. :-) This is just the
  start of it all.
</p>
