<h1>Our Mission:</h1>
<p>
  The family of orchids is probably the largest family of flowering plants,
  with somewhere between 20,000 and 22,000 individual species. Counting
  varieties and subspecies and other taxonomical hair-splitting, the estimates
  have ranged as high as 30,000.
</p>

<p>
  Unfortunately, due to the changes occurring to our planet because of
  anthropogenic (human) and natural causes, many species of living creatures are
  threatened with extinction. Due to the combination of 6 billion hungry human
  mouths to feed, and devastating consumption on the part of industrial nations,
  the natural habitat for many species has been dramatically reduced. As much as
  96% of the primary forest of Madagascar, for example, has been destroyed.
</p>

<p>
  Of course, it would be wonderful to conserve and preserve everything forever
  and ever. From a paleontological standpoint, over 99.9% of all species that
  have ever existed are now extinct. Why worry about a few more?
</p>

<p>
  The rate of species extinction is currently so high that it exceeds that
  experienced during the mass extinctions of geological history, including that
  of the K/T which is when the dinosaurs were wiped out. Despite the research
  that has been poured into extinction, we know relatively little. Worse, we
  know virtually nothing about the house of cards which is our biosphere. How
  much damage, precisely, can an environment suffer until the top consumers
  expire?
</p>

<p>
  Humans are, of course, the "top consumers." We are busy destroying our oceans,
  salinifying the land, depleting the nutrients of our agricultural areas, and
  polluting our air. Perhaps we are responsible for climate change and the ozone
  hole. All of these do not bode well for those of us that are at the top of the
  food chain.
</p>

<p>
  There is only so much that one organization or group can do. We've chosen
  orchids, and given the width and breadth of the Orchidaceae, this will be
  plenty enough. We fully recognize that the work we do here is of limited
  scope: if we cut down the rainforest, after all, what good are the orchids
  we 'rescue' if there is nowhere to return them? I will happily admit that
  conservation of species out of their natural environment ("ex situ"
  conservation) is far inferior to the preservation of an entire ecosystem.
  At the same time, it's either this or nothing. All we're trying to do is keep
  our kids (no, we don't have any, but what the hey) from being able to point
  to a picture of an extinct species and ask why there aren't any left.
</p>

<p>Just a little responsibility in the great scheme of things.</p>

<p>
  So all we try to do is foster conservation through propagation of orchids.
  We send out information, products, new research data, and, well... lots of
  stuff. Our recipients don't just get seeds- they get our best advice, information,
  and (in developing countries and research labs) some of the compounds and
  chemicals needed to keep going.
</p>

<p>
  We'd like to work with more growers in developing countries to help get them
  going with more information (such as copies of our book), and spreading
  information about media that can be formulated inexpensively, using fertilizer
  and other readily available chemicals. We also do some research here to
  develop new formulae.
</p>

<p>
  But we need help. We need more donors, more recipients, and (most of all) a
  new facility. Corporate sponsors, in a word, would be great. Drop us a line
  if you're willing to help. We're looking for a leg up, not a handout.
</p>

<p>
  Thanks. And tread softly. Once we wreck this island, it's not like we can
  leave it for another.
</p>
