<h1>OSP - selling orchid seeds and related products since 1996!</h1>

<ul>
  <% @stores.each do |store| %>
    <li><%= image_tag store.image.url(:thumb) %></li>
    <li><%= link_to store.title, store_path(store) %></li>
  <% end %>
</ul>

<div class="admin_controls">
  <h3>Admin controls:</h3>
  <p><%= link_to "Create store", new_store_path %></p>
</div>
