<h1>Stores</h1>

<ul>
  <% @stores.each do |store| %>
    <li><%= image_tag store.image.url(:thumb) %></li>
    <li><%= link_to store.title, store_path(store) %></li>
  <% end %>
</ul>

<p><%= link_to "Create", new_store_path %></p>
